<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <services>
        <service name="Sermo.SeatService">
          <host>
            <baseAddresses>
              <add baseAddress="net.p2p://sermo"/>
            </baseAddresses>
          </host>
          <endpoint name="SermoServiceEndpoint"
                    address=""
                    binding="netPeerTcpBinding"
                    bindingConfiguration="BindingUnsecure"
                    contract="Sermo.ISeatService" />
        </service>
      </services>
        <client>
            <endpoint address="net.p2p://sermo" binding="netPeerTcpBinding"
                bindingConfiguration="BindingUnsecure" contract="Sermo.ISeatService" name="SermoClientEndpoint" />
        </client>
      <bindings>
        <netPeerTcpBinding >
          <binding name="BindingUnsecure">
            <security mode="None"/>
            <resolver mode="Pnrp"/>
          </binding>
        </netPeerTcpBinding>
      </bindings>
    </system.serviceModel>
</configuration>