<?xml version="1.0"?>
<ArrayOfSeat xmlns:xsi="http://www.w3.org/200001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/200001/XMLSchema">
  <Seat>
    <FirstName>Tom</FirstName>
    <LastName>Allard</LastName>
    <Function>Lead software architect</Function>
    <Company>EurAm</Company>
    <TableTop>100</TableTop>
    <TableLeft>100</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Mick</FirstName>
    <LastName>Jagger</LastName>
    <TableTop>200</TableTop>
    <TableLeft>100</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Mickson</FirstName>
    <LastName>Jagger</LastName>
    <TableTop>300</TableTop>
    <TableLeft>100</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Monty</FirstName>
    <LastName>Python</LastName>
    <TableTop>400</TableTop>
    <TableLeft>100</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Rik</FirstName>
    <LastName>Torfs</LastName>
    <TableTop>500</TableTop>
    <TableLeft>100</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Piet</FirstName>
    <LastName>Allard</LastName>
    <TableTop>600</TableTop>
    <TableLeft>100</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>






  <Seat>
    <FirstName>Tom</FirstName>
    <LastName>Allard</LastName>
    <TableTop>800</TableTop>
    <TableLeft>200</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Piet</FirstName>
    <LastName>Allard</LastName>
    <TableTop>800</TableTop>
    <TableLeft>300</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Piet</FirstName>
    <LastName>Allard</LastName>
    <TableTop>800</TableTop>
    <TableLeft>400</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Piet</FirstName>
    <LastName>Allard</LastName>
    <TableTop>800</TableTop>
    <TableLeft>500</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Piet</FirstName>
    <LastName>Allard</LastName>
    <TableTop>800</TableTop>
    <TableLeft>600</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Piet</FirstName>
    <LastName>Allard</LastName>
    <TableTop>800</TableTop>
    <TableLeft>700</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
 
  </Seat>



  <Seat>
    <FirstName>Tom</FirstName>
    <LastName>Allard</LastName>
    <TableTop>100</TableTop>
    <TableLeft>800</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Piet</FirstName>
    <LastName>Allard</LastName>
    <TableTop>200</TableTop>
    <TableLeft>800</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Piet</FirstName>
    <LastName>Allard</LastName>
    <TableTop>300</TableTop>
    <TableLeft>800</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Piet</FirstName>
    <LastName>Allard</LastName>
    <TableTop>400</TableTop>
    <TableLeft>800</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Piet</FirstName>
    <LastName>Allard</LastName>
    <TableTop>500</TableTop>
    <TableLeft>800</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  <Seat>
    <FirstName>Piet</FirstName>
    <LastName>Allard</LastName>
    <TableTop>600</TableTop>
    <TableLeft>800</TableLeft>
    <TableWidth>100</TableWidth>
    <TableHeight>100</TableHeight>
  </Seat>
  
</ArrayOfSeat>